<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hair Cut</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <script
      src="https://kit.fontawesome.com/7cd8dbde5d.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header class="header">
      <i class="fa-solid fa-bars header-icon-bars"></i>
      <h1 class="header-h1-logo">
        <img
          src="/images/logo-letra-negro.svg"
          alt="Logo barberia"
          class="header-logo"
        />
      </h1>
      <i class="fa-solid fa-user header-user-icon"></i>
      <i class="fa-solid fa-cart-shopping header-cart"></i>
    </header>
    <main>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur dolor
      inventore temporibus animi optio qui nihil in fugit, repudiandae saepe? Ut
      qui laboriosam, velit aperiam perspiciatis vel temporibus eaque itaque!
    </main>
    <footer class="footer">
      <div class="footer-div-logo">
        <img
          src="/images/logo-letra-negro.svg"
          alt="Logo barberia"
          class="footer-logo"
        />
      </div>
      <p class="footer-p">©Todos los derechos reservados</p>
      <i class="fa-solid fa-envelope footer-icon"></i>
      <i class="fa-brands fa-whatsapp footer-icon"></i>
      <i class="fa-brands fa-instagram footer-icon"></i>
      <i class="fa-brands fa-facebook footer-icon"></i>
    </footer>
  </body>
</html>
