/* Header */

.header {
  display: flex;
  background-color: #14213d;
  justify-content: space-between;
  padding: 8px;
}

.header-icon-bars {
  color: #e5e5e5;
  align-self: center;
  padding: 8px;
  font-size: 40px;
}

.header-h1-logo {
  width: 15%;
  min-width: 50px;
  padding-top: 8px;
}

.header-logo {
  width: 100%;
}

.header-div-icons {
  align-self: center;
  display: flex;
  gap: 15px;
}

.header-user-icon {
  color: #e5e5e5;
  font-size: 25px;
}

.header-cart {
  color: #e5e5e5;
  font-size: 25px;
}

/* Body */

/*Registro y Log In*/

.formulario_main {
  margin: 0;
}

.formulario {
  width: 500px;
  max-width: 100%;
  margin: auto;
  margin-top: 30px;
  padding: 20px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
  position: relative;
}

.formulario_titulo {
  text-align: center;
  margin-top: 0;
  color: hsla(0, 0%, 0%, 0.9);
}

.formulario_input,
.formulario_label,
.formulario_submit .formulario_reset {
  display: block;
  width: 100%;
  font-size: 1.3em;
}

.formulario_input {
  padding: 20px;
  background: rgba(253, 163, 18, 0.75);
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 40px;
}

.formulario_input:focus {
  outline: 1px solid rgba(0, 0, 0, 0.3);
}

.formulario_input:focus + .formulario_label {
  margin-top: -130px;
}

.formulario_label {
  padding-left: 15px;
  position: absolute;
  margin-top: -85px;
  z-index: -20;
  color: hsla(0, 0%, 0%, 1);
  transition: all 0.8s;
}

.formulario_submit,
.formulario_reset {
  background-color: hsla(221, 51%, 16%);
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
  height: 55px;
}

.fijar {
  margin-top: -130px;
}

.button {
  background-color: hsla(221, 51%, 16%);
  color: white;
  width: 100%;
  height: 55px;
}

/* turnos */

.turnos-main {
  width: 100%;
  margin: auto;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(20, 33, 61, 1) 25%,
    rgba(229, 229, 229, 1) 50%,
    rgba(20, 33, 61, 1) 75%,
    rgba(0, 0, 0, 1) 100%
  );
  padding: 20px;
}

.turnos-section {
  flex-wrap: wrap;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 10px 0px;
  width: 80vw;
  margin: auto;
  padding: 10px;
  background-color: #e5e5e5;
  border-radius: 5px;
}

.turnos-main-titulo {
  width: 100%;
  margin: 20px;
}

.turnos-main-h2 {
  width: 100%;
  margin: 20px 0;
}

.turnos-main-p {
  width: 100%;
  margin: 5px;
}

.turnos-select-dia {
  width: 50%;
  text-align: center;
  background-color: #fca311;
}

.turnos-select-time {
  width: 50%;
  text-align: center;
  background-color: #fca311;
}

.turnos-main-particular {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin: 20px 0px;
}

.turnos-label-peluquero {
  width: 100%;
}

.turnos-img-peluquero {
  width: 40%;
  margin: 10px;
}

.radio {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.radio + .turnos-img-peluquero {
  cursor: pointer;
}

.radio:checked + .turnos-img-peluquero {
  outline: 2px solid #f00;
}

.turnos-button {
  background-color: #14213d;
  color: #e5e5e5;
  padding: 5px;
  font-size: 15px;
  border-radius: 5px;
  margin: 10px 0;
}

/* Footer */

.footer {
  display: flex;
  justify-content: center;
  background-color: #14213d;
  padding: 8px;
  gap: 55%;
}

.footer-h1-logo {
  width: 15%;
  min-width: 50px;
  padding-top: 8px;
}

.footer-logo {
  width: 100%;
}

.footer-p {
  color: #fca311;
  position: absolute;
  align-self: flex-end;
  font-size: 3vw;
}

.footer-div-icon {
  align-self: center;
  display: flex;
  gap: 10px;
}

.footer-icon {
  color: #e5e5e5;
}

/* medias */

@media (hover: hover) {
  .active-icons:hover {
    transition: all, 0.5s;
    color: #fca311;
  }
  .turnos-button:hover {
    transition: all, 0.5s;
    background-color: #fca311;
    color: #14213d;
    font-weight: bold;
  }
}

.active-icons:active {
  transition: all, 0.3s;
  color: #fca311;
}

.turnos-button:active {
  background-color: #fca311;
  color: #14213d;
  font-weight: bold;
}
