<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') %> 
    </head>
<body>
    <header class="header">
      <%- include('../partials/header') %>
    </header>
    <main class="turnos-main">
        <section class="turnos-section">
            <article> 
                <h2>Carrito <i class="fa-solid fa-cart-shopping" ></i></h2>
            </article>
            <article class="product-box">
                <div>
                    <img
                    src="/images/logo-letra-negro.svg"
                    alt="Logo barberia"
                    class="product-img"
                    />
                    <span>Nombre del producto</span>
                    <span class="price">Precio: $4000</span>
                </div>
                    <button type="reset">
                        <i class="fa-solid fa-trash-can"></i>Eliminar
                    </button>
                    <!--Boton de sumar/restar cantidad-->
                    <button type="button" data-quantity="minus" data-field="quantity">
                        <i class="fa fa-minus"></i>
                    </button>
                    <input type="number" name="quantity" value="0" class="cantidad">
                    <button type="button" data-quantity="plus" data-field="quantity">
                            <i class="fa fa-plus"></i>
                    </button>
            </article>
            <article class="product-box">
                <div>
                    <p>Tu carrito esta vacío</p>
                </div>
            </article>
            <article class="total-box product-box">
                <div>
                    <p>Total: $4000</p>
                    <button class="turnos-button">Comprar</button>
                </div>
            </article>
        </section>
        <section>
            <h2 class="titulo-h2">OFERTAS SEMANAL</h2>
        <div class="home-ofertas">
          <div class="article-block">
            <img class="img-catalogo img-left1" src="/images/aceite-fortalecedor.jpg" alt="aceite fortalecedor">
            <p class="description1">Aceite fortalecedor de barba sir fausto 30ml</p>
            <button class="btn-catalogo">Ver más</button>
          </div>
  
          <div class="article-block">
            <img class="img-catalogo img-left2" src="/images/gel.jpg" alt="gel">
            <p class="description2">Gel de Afeitar Raff Nueva Formula 1L</p>
            <button class="btn-catalogo2">Ver más</button>
          </div>
  
  
          <div class="article-block article-block3">
            <img class="img-catalogo img-left3" src="/images/pomada.jpg" alt="pomada">
            <p class="description3"><strong>Pomada para barba sir fausto 90ml</strong></p>
            <button class="btn-catalogo3">Ver más</button>
          </div>
          </article>
        </div>
        </section>
   </main>
   <footer class="footer">
    <%- include('../partials/footer') %> 
  </footer>
</body>
</html>