<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body class="body-catalogo">
    <header class="header"><%- include('../partials/header') %></header>

    <main class="main-catalogo">
      <%- include('../partials/productsCatalogue') %>
    </main>

    <footer class="footer-catalogo">
      <%- include('../partials/footer') %>
    </footer>
  </body>
</html>
