<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preload" href="css/normalize.css" as="style">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="preload" href="css/styles.css" as="style">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://kit.fontawesome.com/5acb377302.js" crossorigin="anonymous"></script>
    <title>HC | Barber Shop</title>
</head>

<body>
    <header class="catalogue-header">
        <div class="catalogue-header-content container">
            <div class="logo">
                <a href="/">
                    <img src="images/logo/logo-letra-negro.svg" alt="Hair Cut brand">
                </a>
            </div>
            <div class="search-bar">
                <form>
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                    <input type="search" placeholder="Ingrese su busqueda">
                </form>
            </div>
            <div class="cart">
                <i class="fa-solid fa-cart-shopping"></i>
            </div>
        </div>
        <div class="menu-options">
            <i class="fa-solid fa-bars"></i>
        </div>
    </header>

    <main class="main">
        <div class="main-content">
            <a href="#">
                <div class="ads-banner"></div>
            </a>
            <a href="#">
                <div class="promotions container">
                    <img src="images/banners/promos-black.png" alt="Promotions banner">
                </div>
            </a>
            <h2>Nuestros productos</h2>
            <div class="products">
                <aside class="filters">
                    <div class="categories">
                        <h4>Categorías</h4>
                        <div class="categories-filters">
                            <a href="#">
                                <p class="categories-delantales">Delantales (90)</p>
                            </a>
                            <a href="#">
                                <p class="categories-peines">Peines (20)</p>
                            </a>
                            <a href="#">
                                <p class="categories-tijeras">Tijeras (10)</p>
                            </a>
                            <a href="#">
                                <p class="categories-afeitadoras">Afeitadoras (10)</p>
                            </a>
                            <a href="#">
                                <p class="categories-bachas">Bachas (4)</p>
                            </a>
                            <a href="#">
                                <p class="categories-sillas">Sillas (3)</p>
                            </a>
                        </div>
                    </div>
                    <div class="free-shiping">
                        <h4>Costo de envío</h4>
                        <div class="free-shiping-price">
                            <a href="#">
                                <p>Envío gratis (100)</p>
                            </a>
                        </div>
                    </div>
                    <div class="condition">
                        <h4>Condición</h4>
                        <div class="condition-inputs">
                            <a href="#">
                                <p>Nuevo (100)</p>
                            </a>
                            <a href="#">
                                <p>Usado (80)</p>
                            </a>
                        </div>
                    </div>
                </aside>
                <section class="products-content container">
                    <article class="products-input">
                        <div class="products-icon">
                            <a href="product"><img src="images/catalogue/Afeitadora MR Black.webp"
                                    alt="Afeitadora MR Black icon"></a>
                        </div>
                        <div class="products-info">
                            <a href="product">
                                <h3>$10,000 ARS</h3>
                            </a>
                            <span>Envío gratis</span>
                            <a href="product">
                                <p>Afeitadora <br /> MR Black</p>
                            </a>
                        </div>
                    </article>

                    <article class="products-input">
                        <div class="products-icon">
                            <a href="product"><img src="images/catalogue/Navaja MAGIC 66.jpg"
                                    alt="Navaja MAGIC 66 icon"></a>
                        </div>
                        <div class="products-info">
                            <a href="product">
                                <h3>$472.00 ARS</h3>
                            </a>
                            <a href="product">
                                <p>Navaja <br /> MAGIC 66</p>
                            </a>
                        </div>
                    </article>

                    <article class="products-input">
                        <div class="products-icon">
                            <a href="product"><img src="images/catalogue/Delantal Barbero Toscano.webp"
                                    alt="Delantal Barbero Toscano icon"></a>
                        </div>
                        <div class="products-info">
                            <a href="product">
                                <h3>$13,775 ARS</h3>
                            </a>
                            <span>Envío gratis</span>
                            <a href="product">
                                <p>Delantal Barberbo <br /> Toscano</p>
                            </a>
                        </div>
                    </article>

                    <article class="products-input">
                        <div class="products-icon">
                            <a href="product"><img src="images/catalogue/Cilindro Barberia.jpg"
                                    alt="Cilindro Barberia icon"></a>
                        </div>
                        <div class="products-info">
                            <a href="product">
                                <h3>$39,995 ARS</h3>
                            </a>
                            <span>Envío gratis</span>
                            <a href="product">
                                <p>Cartel LED <br /> Cilindro Giratorio</´p>
                            </a>
                        </div>
                    </article>

                    <article class="products-input">
                        <div class="products-icon">
                            <a href="product"><img src="images/catalogue/Polvo Decolorante Keratotal.png"
                                    alt="Polvo Decolorante Keratotal icon"></a>
                        </div>
                        <div class="products-info">
                            <a href="product">
                                <h3>$3,685.78 ARS</h3>
                            </a>
                            <span>Envío gratis</span>
                            <a href="product">
                                <p>Polvo Decolorante <br /> Keratotal Blonde</p>
                            </a>
                        </div>
                    </article>

                    <article class="products-input">
                        <div class="products-icon">
                            <a href="product"><img src="images/catalogue/Tijera Microdentada ELENA DIFUSION.jpg"
                                    alt="Tijera Microdentada ELENA DIFUSION icon"></a>
                        </div>
                        <div class="products-info">
                            <a href="product">
                                <h3>$7,999.00 ARS</h3>
                            </a>
                            <span>Envío gratis</span>
                            <a href="product">
                                <p>Tijera Microdentada <br /> ELENA DIFUSION</p>
                            </a>
                        </div>
                    </article>
                </section>
            </div>
        </div>
    </main>

    <footer class="footer">
        <div class="footer-content">
            <div class="logo">
                <img src="images/logo/logo-letra-negro.svg" alt="Hair Cut Brand">
            </div>
            <div class="copyright">
                <p>&copy; Todos los derechos reservados</p>
            </div>
            <div class="social">
                <nav class="ftr-nav">
                    <ul class="ftr-nav-ul">
                        <li class="ftr-nav-li">
                            <a class="ftr-nav-li-a" target="_blank" href="https://gmail.com">
                                <i class="fa-solid fa-envelope"></i>
                            </a>
                        </li>
                        <li class="ftr-nav-li">
                            <a class="ftr-nav-li-a" target="_blank" href="https://web.whatsapp.com">
                                <i class="fa-brands fa-whatsapp"></i>
                            </a>
                        </li>
                        <li class="ftr-nav-li">
                            <a class="ftr-nav-li-a" target="_blank" href="https://instagram.com">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </li>
                        <li class="ftr-nav-li">
                            <a class="ftr-nav-li-a" target="_blank" href="https://facebook.com">
                                <i class="fa-brands fa-square-facebook"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </footer>
</body>
</html>