<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>

  <body>
    <header class="header"><%- include('../partials/header') %></header>

    <main class="main">
      <a href="/"><i class="fa-solid fa-arrow-left"></i></a>
      <%- include('../partials/detailProduct')%>
    </main>

    <footer class="footer-catalogo">
      <%- include('../partials/footer') %>
    </footer>
  </body>
</html>
