<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %> 
</head>
  <body>
     <header class="header">
      <%- include('../partials/header') %>
    </header>
    <main class="formulario_main">
    <h1 class="formulario_titulo">Entra a tu cuenta</h1>
    <form action="" class="formulario">
      <input type="text" class="formulario_input" required />
      <label for="" class="formulario_label">Nombre y Apellido</label>
      <input type="email" class="formulario_input" required />
      <label for="" class="formulario_label">E-mail</label>
      <input type="password" class="formulario_input" required />
      <label for="" class="formulario_label">Contrase単a</label>
      <input type="checkbox" required />Recordarme.
      <p align="center">
        <button align="center" class="button">Entrar</button>
      </p>

      <p align="center">
        多No tienes una cuenta? Registrate
        <a href="/register">aca! </a>
        <p align="center">多Olvidaste la contrase単a?</p>
      </p>
    </form>
    <script src="js/form.js"></script>
  </main>
    <footer class="footer">
      <%- include('../partials/footer') %> 
    </footer>
  </body>
</html>
