<!DOCTYPE html>
<html lang="en">
    
<body>  
    <%- include('../partials/404') %>

<div class="container-nf">
<img class="img-nf" src="/images/404/404.png" alt="404">
<h1 class="h1-nf">La página solicitada no se encuentra disponible</h1>   
<div>
  <a href="javascript:window.history.back();">  
    <button class="btn btn-outline-primary" href="/" >Volver atrás </button>
  </a>
  
    
</div>

</div>

</body>
</html>
