<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <header class="header"><%- include('../partials/header') %></header>
    <main class="formulario_main">
      <h1 class="formulario_titulo">Registrate</h1>
      <form action="/register" method="post" class="formulario" enctype="multipart/form-data">
        <input type="text" name="firstName" class="formulario_input" required />
        <label for="" class="formulario_label">Nombres</label>
        <input type="text" name="lastname" class="formulario_input" required />
        <label for="" class="formulario_label">Apellido</label>
        <input type="number" name="cel" class="formulario_input" />
        <label for=""  class="formulario_label">Celular</label>
        <input type="email" name="email" class="formulario_input" required />
        <label for="" class="formulario_label">E-mail</label>
        <input type="password" name="password" class="formulario_input" required />
        <label for="" class="formulario_label">Contraseña</label>
        <input type="file" name="avatar" class="formulario_input" />
        <p align="center">
          <input type="checkbox" required />Acepto términos y condiciones.
        </p>
        <input type="submit" class="formulario_submit" />
        <input type="reset" class="formulario_reset" />

        <p align="center">
          ¿Ya tienes tu cuenta? Logueate
          <a href="/login">aca! </a>
        </p>
      </form>
      <script src="scripts/form.js"></script>
    </main>
    <footer class="footer-catalogo">
      <%- include('../partials/footer') %>
    </footer>
  </body>
</html>
