<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') %>
    </head>
    <body>
        <header><%- include('../partials/header') %></header>
        <main>
            <form
                action=""
                class="container d-flex justify-content-center flex-column"
            >
                <div class="mb-3 text-center">
                    <label for="formGroupExampleInput" class="form-label"
                        >Elige tu día:</label
                    >
                    <input
                        type="date"
                        class="form-control"
                        id="formGroupExampleInput"
                    />
                </div>
                <div class="mb-3 text-center">
                    <label for="formGroupExampleInput2" class="form-label"
                        >Elige tu horario:</label
                    >
                    <select
                        class="form-select"
                        aria-label="Default select example"
                    >
                        <option selected>Selecciona tu horario</option>
                        <option value="9">9:00 a.m.</option>
                        <option value="10">10:00 a.m.</option>
                        <option value="11">11:00 a.m.</option>
                        <option value="12">12:00 a.m.</option>
                        <option value="13">13:00 a.m.</option>
                        <option value="14">14:00 a.m.</option>
                        <option value="15">15:00 a.m.</option>
                        <option value="16">16:00 a.m.</option>
                        <option value="17">17:00 a.m.</option>
                    </select>
                </div>
                <div class="form-check align-self-center">
                    <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="flexCheckDefault"
                    />
                    <label class="form-check-label" for="flexCheckDefault"
                        >Preferís algún peluquero en particular?</label
                    >
                </div>
            </form>
        </main>
        <footer class="footer-catalogo">
            <%- include('../partials/footer') %>
        </footer>
    </body>
</html>
