<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head') %>
</head>

<body>
  <header>
    <%- include('./partials/header') %>
  </header>
  <main class="background-main-home">

    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <a href="/turnos">
            <img src="/images/servicios/corte-de-pelo.png" class="d-block w-100 custom-img" alt="...">
            <div class="carousel-caption pie-img">
              <p class="text-img">CORTES DE CABELLO</p>
            </div>
          </a>
        </div>
        <div class="carousel-item">
          <a href="/turnos">
            <img src="/images/servicios/corte-de-barba.jpeg" class="d-block w-100 custom-img" alt="...">
            <div class="carousel-caption pie-img">
              <p class="text-img">AFEITADOS</p>
            </div>
          </a>
        </div>
        <div class="carousel-item">
          <a href="/products">
            <img src="/images/servicios/venta-productos.jpg" class="d-block w-100 custom-img" alt="...">
            <div class="carousel-caption pie-img">
              <p class="text-img">VENTA DE PRODUCTOS</p>
            </div>
          </a>
        </div>
      </div>
    </div>

    <section>
      <div class="info-barber">
        <p class="p-info">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis, ea quo. Rerum dolorum a, dignissimos rem
          expedita, cum impedit neque nisi provident minima quasi adipisci sed minus corrupti alias suscipit!
          __________________________________________________________________________________________
          !!!!!!!!!!!!! AGREGAR DESCRICION DE LA BARBERIA !!!!!!!!!!!!!!!
          --------------------------------------------------------------------------------------------
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis, ea quo. Rerum dolorum a, dignissimos rem
          expedita, cum impedit neque nisi provident minima quasi adipisci sed minus corrupti alias suscipit!
        </p>
      </div>
    </section>

    </section>

    <%- include('./partials/oferta-semanal') %>

      <a href="/products" class="d-content">
        <button type="button" data-bs-toggle="modal" data-bs-target="#confirm"
          class="btn btn-outline-primary m-auto mb-3 mt-5 w-50 d-block btn-cat" form="turns-form">

          Catálogo Completo
        </button></a>



      <h2 class="titulos-home">CONTACTO</h2>
      <div class="media-contacto">
        <div class="margin-maps">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d17572.23990533987!2d-60.22072156742301!3d-33.335377962635945!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sar!4v1672416834849!5m2!1ses-419!2sar"
            width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div>
          <p class="p-contacto-home">Calle De la Nación XX <br>
            San Nicolás de los Arroyos<br>
            Buenos Aires-Argentina<br>
            336-4335555<br>
            haircut@gmail.com</p>
        </div>
      </div>
  </main>
      <footer class="footer">
        <%- include('./partials/footer') %>
      </footer>
</body>

</html>