<img
  src="/images/logo-letra-negro.svg"
  alt="Logo barberia"
  class="footer-logo-catalogo"
/>
<p class="footer-p-catalogo">©Todos los derechos reservados</p>
<section class="social-icons-catalogo">
  <i class="fa-solid fa-envelope footer-icon"></i>
  <i class="fa-brands fa-whatsapp footer-icon"></i>
  <i class="fa-brands fa-instagram footer-icon"></i>
  <i class="fa-brands fa-facebook footer-icon"></i>
</section>
