<div class="nav-bar d-flex justify-content-between align-items-center bg-black">
    <img
        src="/images/logo-letra-negro.svg"
        alt="Logo barberia"
        style="width: 60px"
        class="m-3"
    />
    <p class="text-primary m-0">©Todos los derechos reservados</p>
    <section
        class="d-flex flex-wrap gap-3 footer-section-m-r justify-content-center"
    >
        <a href="" class="footer-icon">
            <i
                class="fa-solid fa-envelope text-primary"
                style="font-size: 30px"
            ></i>
        </a>
        <a href="" class="footer-icon">
            <i
                class="fa-brands fa-whatsapp text-primary"
                style="font-size: 30px"
            ></i>
        </a>
        <a href="" class="footer-icon">
            <i
                class="fa-brands fa-instagram text-primary"
                style="font-size: 30px"
            ></i>
        </a>
        <a href="" class="footer-icon">
            <i
                class="fa-brands fa-facebook text-primary"
                style="font-size: 30px"
            ></i>
        </a>
    </section>
</div>

<script src="/scripts/bootstrap.min.js"></script>
<script src="/scripts/bootstrap.bundle.min.js"></script>
