<footer class="footer">
    <div class="footer-content">
        <div class="ftr-logo">
            <img src="/images/icons/logo-letra-negro.svg" alt="Hair cut brand">
        </div>
        <div class="ftr-copy">
            <p>&copy; Todos los derechos reservados</p>
        </div>
        <div class="ftr-social">
            <nav class="ftr-nav">
                <ul class="ftr-nav-ul">
                    <li class="ftr-nav-li">
                        <a class="ftr-nav-a" href="#">
                            <i class="fa-solid fa-envelope"></i>
                        </a>
                    </li>
                    <li class="ftr-nav-li">
                        <a class="ftr-nav-a" href="#">
                            <i class="fa-brands fa-whatsapp"></i>
                        </a>
                    </li>
                    <li class="ftr-nav-li">
                        <a class="ftr-nav-a" href="#">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </li>
                    <li class="ftr-nav-li">
                        <a class="ftr-nav-a" href="#">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</footer>

<script src="/scripts/bootstrap.min.js"></script>
<script src="/scripts/bootstrap.bundle.min.js"></script>
