<nav
    class="navbar navbar-dark navbar-expand-md bg-black fixed-top"
    style="height: 90px"
>
    <div class="container-fluid">
        <button
            class="navbar-toggler border-1 border-primary"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#staticBackdrop"
            aria-controls="staticBackdrop"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div
            class="offcanvas offcanvas-start bg-black"
            data-bs-backdrop="static"
            tabindex="-1"
            id="staticBackdrop"
            aria-labelledby="staticBackdropLabel"
        >
            <div class="offcanvas-header">
                <h5
                    class="offcanvas-title row align-items-center text-white"
                    id="staticBackdropLabel"
                >
                    <img
                        src="/images/logo-letra-negro.svg"
                        alt="Logo barberia"
                        style="width: 75px"
                    />
                    Hair Cut
                </h5>
                <button
                    type="button"
                    class="btn-close btn-close-white"
                    data-bs-dismiss="offcanvas"
                    aria-label="Close"
                ></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link" href="/products/carrito">Carrito</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/products">Catálogo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/turnos">Turnos</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a
                            class="nav-link dropdown-toggle"
                            href="#"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                        >
                            Productos
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li>
                                <a class="dropdown-item" href="/products"
                                    >Productos destacados</a
                                >
                            </li>
                            <li>
                                <a class="dropdown-item" href="/products"
                                    >Productos en oferta</a
                                >
                            </li>
                            <li>
                                <hr class="dropdown-divider" />
                            </li>
                            <li>
                                <a class="dropdown-item" href="/products"
                                    >Todos los productos</a
                                >
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <a href="/">
            <img
                src="/images/logo-letra-negro.svg"
                alt="Logo barberia"
                style="width: 75px"
                class="position-absolute top-50 start-50 translate-middle"
            />
        </a>
        <button
            class="navbar-toggler-2"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#loginButton"
            aria-controls="staticBackdrop"
        >
            <i class="fa-solid fa-user header-user active-icons"></i>
        </button>
        <div
            class="offcanvas-xl offcanvas-end bg-black"
            data-bs-backdrop="static"
            tabindex="-1"
            id="loginButton"
            aria-labelledby="staticBackdropLabel"
        >
            <div class="offcanvas-header">
                <h5
                    class="offcanvas-title row align-items-center text-white"
                    id="staticBackdropLabel"
                >
                    <img
                        src="/images/logo-letra-negro.svg"
                        alt="Logo barberia"
                        style="width: 75px"
                    />
                    Hair Cut
                </h5>
                <button
                    type="button"
                    class="btn-close btn-close-white"
                    data-bs-dismiss="offcanvas"
                    data-bs-target="#loginButton"
                    aria-label="Close"
                ></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav nav-labels flex-grow-1 pe-3">
                    <form class="navbar-form" role="login">
                        <input
                            class="form-control me-2 p-1 navbar-input bg-black text-primary"
                            type="text"
                            placeholder="Email / Usuario"
                            aria-label="login"
                            required
                        />
                        <input
                            class="form-control me-2 p-1 navbar-input bg-black text-primary"
                            type="password"
                            placeholder="Contraseña"
                            aria-label="login"
                            required
                        />
                        <button class="btn btn-outline-primary" type="submit">
                            Ingresar
                        </button>
                        <p class="text-white mt-2 registrate">
                            ¿No tenés cuenta?
                            <a href="/register" class="link-primary"
                                >Regístrate aquí</a
                            >
                        </p>
                    </form>
                </ul>
            </div>
            <p class="text-white m-0 registrate-xl">
                ¿No tenés cuenta?
                <a href="/register" class="link-primary">Regístrate aquí</a>
            </p>
        </div>
    </div>
</nav>
<div style="margin-bottom: 85px"></div>
