<div class="div-barra">
  <i class="fa-solid fa-bars active-icons header-icon-bars"></i>
</div>
<h1 class="header-h1-logo">
  <a href="/">
    <img
      src="/images/logo-letra-negro.svg"
      alt="Logo barberia"
      class="header-logo"
  /></a>
</h1>
<ul class="lista">
  <li><a href="/products/carrito">Carrito</a></li>
  <li><a href="/catalogo">Catalogo</a></li>
  <li><a href="/turnos">Turnos</a></li>
</ul>
<div class="header-div-icons">
  <a href="/login">
    <i class="fa-solid fa-user header-cart active-icons"></i>
  </a>
  <a href="/products/carrito">
    <i class="fa-solid fa-cart-shopping header-cart active-icons"></i>
  </a>
</div>
