
    <h2 class="titulos-home">OFERTAS SEMANAL</h2>
   
<div class="home-ofertas"> 
  <% for(const oneProduct of topThreeProducts){ %>
    <a href="/products/details/<%= oneProduct.id %>">
  <div class="article-block">
    <img class="img-catalogo img-left1" src="<%= oneProduct.image %>" alt="">
    <p class="description1"><%= oneProduct.description %></p>
  </div></a>

  
<% } %>
</div>
