
    <h2 class="titulo-h2">OFERTAS SEMANAL</h2>
<div class="home-ofertas">
  <div class="article-block">
    <img class="img-catalogo img-left1" src="/images/aceite-fortalecedor.jpg" alt="aceite fortalecedor">
    <p class="description1">Aceite fortalecedor de barba sir fausto 30ml</p>
    <button class="btn-catalogo">Ver más</button>
  </div>

  <div class="article-block">
    <img class="img-catalogo img-left2" src="/images/gel.jpg" alt="gel">
    <p class="description2">Gel de Afeitar Raff Nueva Formula 1L</p>
    <button class="btn-catalogo2">Ver más</button>
  </div>


  <div class="article-block article-block3">
    <img class="img-catalogo img-left3" src="/images/pomada.jpg" alt="pomada">
    <p class="description3"><strong>Pomada para barba sir fausto 90ml</strong></p>
    <button class="btn-catalogo3">Ver más</button>
  </div>
  </article>
</div>
