<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <script src="https://kit.fontawesome.com/7cd8dbde5d.js" crossorigin="anonymous"></script>
    <title>Catalogo</title>
</head>
<body class="body-catalogo">
    <header class="header">
        <i class="fa-solid fa-bars header-icon-bars logos-header-catalogo"></i>
        
        <img
          src="/images/logo-letra-negro.svg"
          alt="Logo barberia"
          class="header-logo-catalogo"
          />
          <i class="fa-solid fa-user header-user-icon logos-header-catalogo"></i>
      <i class="fa-solid fa-cart-shopping header-cart logos-header-catalogo"></i>
    </header>

    <main class="main-catalogo">
        <section class="caja-mas-vendido-catalogo">
            
            <img src="/images/cera-cabello.jpg" alt="Producto mas vendido" class="img-mas-vendido-catalogo">
            <h1 class="txt-mas-vendido-catalogo">Articulo mas vendido</h1>
            <button class="boton-comprar-calogo">Comprar ahora!</button>
        </section>
                <h2 class="titulo-section-catalogo">Destacados</h2>
        <section class="section-venta-catalogo">
            
            <article class="articulo-venta-catalogo">
                <img src="/images/gel-cabello.jpg" alt="" class="imagen-articulo-catalogo">
                <div class="info-catalogo">
                    <p class="precio-ctlgo">$800</p>
                    <p class="descuento-ctlgo">-5%</p>
                    <p class="descripcion-ctlgo">Gel para cabello</p>
                </div>
            </article>

            <article class="articulo-venta-catalogo">
                <img src="/images/crema-afeitar.jpg" alt="" class="imagen-articulo-catalogo">
                <div class="info-catalogo">
                    <p class="precio-ctlgo">$1200</p>
                    <p class="descuento-ctlgo">-5%</p>
                    <p class="descripcion-ctlgo">Crema de afeitar</p>
                </div>
            </article>

            <article class="articulo-venta-catalogo">
                <img src="/images/oleo-fortalecedor.jpeg" alt="" class="imagen-articulo-catalogo">
                <div class="info-catalogo">
                    <p class="precio-ctlgo">$600</p>
                    <p class="descuento-ctlgo">-5%</p>
                    <p class="descripcion-ctlgo">Oleo fortalecedor</p>
                </div>
            </article>
        </section>

            <h2 class="titulo-section-catalogo">Ofertas</h2>
        <section class="section-venta-catalogo">
            
            <article class="articulo-venta-catalogo">
                <img src="/images/crema-afeitar-raff.jpeg" alt="" class="imagen-articulo-catalogo">
                <div class="info-catalogo">
                    <p class="precio-ctlgo">$1300</p>
                    <p class="descuento-ctlgo">-20%</p>
                    <p class="descripcion-ctlgo">Crema de afeitar</p>
                </div>
            </article>

            <article class="articulo-venta-catalogo">
                <img src="/images/pomada-barba.jpeg" alt="" class="imagen-articulo-catalogo">
                <div class="info-catalogo">
                    <p class="precio-ctlgo">$1100</p>
                    <p class="descuento-ctlgo">-15%</p>
                    <p class="descripcion-ctlgo">Pomada para barba</p>
                </div>
            </article>

            <article class="articulo-venta-catalogo">
                <img src="/images/tinte-cabello.jpg" alt="" class="imagen-articulo-catalogo">
                <div class="info-catalogo">
                    <p class="precio-ctlgo">$1400</p>
                    <p class="descuento-ctlgo">-20%</p>
                    <p class="descripcion-ctlgo">Tinte para cabello</p>
                </div>
            </article>
        </section>

        <h2 class="titulo-section-catalogo">Todos los Productos</h2>
        <section class="section-venta-catalogo">
            
            <article class="articulo-venta-catalogo">
                <img src="/images/shampoo-ayalatin.png" alt="" class="imagen-articulo-catalogo">
                <div class="info-catalogo">
                    <p class="precio-ctlgo">$800</p>
                    <p class="descuento-ctlgo">-5%</p>
                    <p class="descripcion-ctlgo">shaampo para barba</p>
                </div>
            </article>

            <article  class="articulo-venta-catalogo">
                <img src="/images/ceramate-ayala.png" alt=""  class="imagen-articulo-catalogo">
                <div class="info-catalogo">
                    <p class="precio-ctlgo">$1200</p>
                    <p class="descuento-ctlgo">-8%</p>
                    <p class="descripcion-ctlgo">cera mate</p>
                </div>
            </article>

            <article  class="articulo-venta-catalogo">
                <img src="/images/laca-ayalatin.png" alt="" class="imagen-articulo-catalogo">
                <div class="info-catalogo">
                    <p class="precio-ctlgo">$1350</p>
                    <p class="descuento-ctlgo">-5%</p>
                    <p class="descripcion-ctlgo">Laca</p>
                </div>
            </article>
        </section>
    </main>

    <footer class="footer-catalogo">
          <img
            src="/images/logo-letra-negro.svg"
            alt="Logo barberia"
            class="footer-logo-catalogo"
          />
        <p class="footer-p-catalogo">©Todos los derechos reservados</p>
        <section class="social-icons-catalogo">
        <i class="fa-solid fa-envelope footer-icon"></i>
        <i class="fa-brands fa-whatsapp footer-icon"></i>
        <i class="fa-brands fa-instagram footer-icon"></i>
        <i class="fa-brands fa-facebook footer-icon"></i>
    </section>
      </footer>
</body>
</html>