<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="syles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

    <title>Log In</title>
  </head>
  <body>
    <main class="formulario_main">
    <h1 class="formulario_titulo">Entra a tu cuenta</h1>
    <form action="" class="formulario">
      <input type="text" class="formulario_input" required />
      <label for="" class="formulario_label">Nombre y Apellido</label>
      <input type="email" class="formulario_input" required />
      <label for="" class="formulario_label">E-mail</label>
      <input type="password" class="formulario_input" required />
      <label for="" class="formulario_label">Contraseña</label>
      <input type="checkbox" required />Recordarme.
      <p align="center">
        <button align="center" class="button">Entrar</button>
      </p>

      <p align="center">
        ¿No tienes una cuenta? Registrate
        <a href="register.html" target="_blank">aca! </a>
        <p align="center">¿Olvidaste la contraseña?</p>
      </p>
    </form>
    <script src="public/js/form.js"></script>
  </main>
  </body>
</html>
