<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/7cd8dbde5d.js"
      crossorigin="anonymous"
    ></script>
    <title>Registro</title>
  </head>
  <body>
    <header class="header">
      <i class="fa-solid fa-bars header-icon-bars active-icons"></i>
      <h1 class="header-h1-logo">
        <img
          src="/images/logo-letra-negro.svg"
          alt="Logo barberia"
          class="header-logo"
        />
      </h1>
      <div class="header-div-icons">
        <i class="fa-solid fa-user header-user-icon active-icons"></i>
        <i class="fa-solid fa-cart-shopping header-cart active-icons"></i>
      </div>
    </header>
    <main class="formulario_main">
      <h1 class="formulario_titulo">Registrate</h1>
      <form action="" class="formulario">
        <input type="text" class="formulario_input" required />
        <label for="" class="formulario_label">Nombres</label>
        <input type="text" class="formulario_input" required />
        <label for="" class="formulario_label">Apellido</label>
        <input type="number" class="formulario_input" />
        <label for="" class="formulario_label">Celular</label>
        <input type="email" class="formulario_input" required />
        <label for="" class="formulario_label">E-mail</label>
        <input type="password" class="formulario_input" required />
        <label for="" class="formulario_label">Contraseña</label>
        <p align="center">
          <input type="checkbox" required />Acepto términos y condiciones.
        </p>
        <input type="submit" class="formulario_submit" />
        <input type="reset" class="formulario_reset" />

        <p align="center">
          ¿Ya tienes tu cuenta? Logueate
          <a href="login.html" target="_blank">aca! </a>
        </p>
      </form>
      <script src="public/js/form.js"></script>
    </main>
    <footer class="footer">
      <h1 class="footer-h1-logo">
        <img
          src="/images/logo-letra-negro.svg"
          alt="Logo barberia"
          class="footer-logo"
        />
      </h1>
      <p class="footer-p">©Todos los derechos reservados.</p>
      <div class="footer-div-icon">
        <i class="fa-solid fa-envelope footer-icon active-icons"></i>
        <i class="fa-brands fa-whatsapp footer-icon active-icons"></i>
        <i class="fa-brands fa-instagram footer-icon active-icons"></i>
        <i class="fa-brands fa-facebook footer-icon active-icons"></i>
      </div>
    </footer>
  </body>
</html>
